@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* general */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
}

/* end general */

/* containers */
.main-container {
    @apply max-w-[1440px] w-full mx-auto p-4 md:py-3 md:px-10
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 0.3fr));
    gap: 1rem;
}

@media screen and (max-width: 860px) {
    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
        justify-content: center;
    }
}

@media screen and (max-width: 560px) {
    .grid-container{
        grid-template-columns: 386px;
        justify-content: center;
    }
}

@media screen and (max-width: 400px){
    .grid-container{
        grid-template-columns: 300px;
    }
}
/* end containers */

/* active classes */
.active-link {
    @apply text-primary border-b border-primary transition-all ease-in-out duration-200
}

.active-size {
    @apply bg-secondary text-white
}

.active-color {
    @apply outline outline-1 outline-offset-1 outline-primary
}

/* end active classes */

.overlay {
    @apply fixed top-[80px] left-0 w-full h-full bg-black/50 z-10
}

.category-title {
    @apply text-3xl font-light mb-16 px-1
}
